@font-face {
  font-family: "SupplyMono";
  src: url("../fonts/supplyMono/Supply-Light.otf");
}
@font-face {
  font-family: "WenYueGaoHei";
  src: url("../fonts/WenYueGaoHei/WenYue-GaoHei-J-2.otf");
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik_80s_Fade/Rubik80sFade-Regular.ttf");
}
@font-face {
  font-family: "Din1451";
  src: url("../fonts/Din1451/AlteDin1451Mittelschrift-gBdP.ttf");
}
@font-face {
  font-family: "HuaYuanMingChao";
  src: url("../fonts/HuaYuanMingChaoTi/RiBenHuaYuanMingChaoTi-2.ttf");
}
@font-face {
  font-family: "PlatoHeavy";
  src: url("../fonts/Plato/StPlatoSansDisplayDemoHeavy-PVGDr.otf");
}
@font-face {
  font-family: "PlatoThin";
  src: url("../fonts/Plato/StPlatoSansDisplayDemoThin-LV8DZ.otf");
}
@font-face {
  font-family: "Cyberpunk";
  src: url("../fonts/Cyberpunk/SdglitchdemoRegular-YzROj.ttf");
}
@font-face {
  font-family: "Neonrift";
  src: url("../fonts/Neonrift/Neonrift-ARORp.ttf");
}
@font-face {
  font-family: "Monarchy";
  src: url("../fonts/Monarchy/MonarchyAbsoluteRegular-YqgKO.ttf");
}
@font-face {
  font-family: "Punkbabe";
  src: url("../fonts/punkbabe-font/Punkbabe-4Rxl.ttf");
}
@font-face {
  font-family: "HackGlitch";
  src: url("../fonts/HackGlitch/HackGlitch-DOlY9.otf");
}
