::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}