* {
	font-family: "Bai Jamjuree", sans-serif;
	font-size: 12px;
	color: hsl(210deg 10% 10%);
}

:root {
	--maxwidth: 1280px;
	--bdrs: 2px;
	--bd-color: hsl(210deg 10% 90%);
}

body {
	background: black;
	display: grid;
	place-items: center;
	height: 100vh;
}

#img {
	width: 500px;
	height: auto;
}